* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.f-grow-1 {
   flex-grow: 1;
}

.j-c-space-between {
    justify-content: space-between;
}

.pd-10 {
    padding: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.h-30-px {
    height: 30px;
}

.h-100-px {
    height: 100px;
}

.h-100 {
    height: 100%;
}

.w-50-px {
    width: 50px;
}

.w-300-px {
    width: 300px;
}

.w-100 {
    width: 100%;
}

.red {
    height: 100vh;
    width: 800px;
    margin: 0 auto;
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.yellow {
    background-color: yellow;
}

.light-grey {
    background-color: lightgrey;
}

.grey {
    background-color: grey;
}

.pink {
    background-color: pink;
}

